Repository nickfnblum/training-material, changes with the labels that .github/labeler.yml gives for each.
All labels: faqs, news, admin, ai4life, assembly, climate, computational-chemistry, community, contributing, data-science, dev, digital-humanities, ecology, epigenetics, evolution, fair, galaxy-interface, genome-annotation, imaging, instructors, introduction, materials-science, metabolomics, microbiome, proteomics, sequence-analysis, single-cell, statistics, synthetic-biolocy, teaching, transcriptomics, variant-analysis, visualisation

rework metadata for hub hof compatibility
  CONTRIBUTORS.yaml
  _layouts/hall-of-fame.html
  bin/schema-contributors.yaml
Labels: none

adjust count
  faqs/gtn/gtn_stats.md
Labels: faqs

allow hiding organisations from gtn or hub hof and stats
  ORGANISATIONS.yaml
  bin/schema-organisations.yaml
  faqs/gtn/gtn_stats.md
Labels: faqs

use real image in example org
  ORGANISATIONS.yaml
Labels: none

last commit before the draft
  topics/imaging/images/biapy/carto_segm_2.mp4
  topics/imaging/images/biapy/example-yaml.png
  topics/imaging/tutorials/biapy/tutorial.md
Labels: imaging

Apply suggestions from code review
  topics/imaging/tutorials/biapy/tutorial.md
Labels: imaging

fix: corrected dataset tool ID and url to biapy publication
  topics/imaging/tutorials/biapy/tutorial.bib
  topics/imaging/tutorials/biapy/tutorial.md
Labels: imaging

add danifranco to the contributors
  CONTRIBUTORS.yaml
Labels: none

fix some linting errors
  topics/imaging/tutorials/biapy/tutorial.md
Labels: imaging

add bio for BioNT
  GRANTS.yaml
  assets/images/eu-cofunded.png
Labels: none

liquefy and markdownify contributor bios
  _layouts/contributor_index.html
Labels: none

add affiliation
  CONTRIBUTORS.yaml
Labels: none

Fix: Explicitly use conda-provided gem binary during install to avoid macOS system Ruby conflicts
  Makefile
Labels: none

Added instruction to add local host address. Needed for building the website locally on Macbook.
  topics/contributing/tutorials/rendering_gtn/tutorial.md
Labels: contributing

added new contributors from galaxy-hub.
  CONTRIBUTORS.yaml
Labels: none

Added joined: 2026-01
  CONTRIBUTORS.yaml
Labels: none

The dummy entries were modified unnecessarily.
  CONTRIBUTORS.yaml
Labels: none

Added grants that were missing from Galaxy-Hub.
  GRANTS.yaml
Labels: none

Undo the removal of the comments on the top.
  GRANTS.yaml
Labels: none

:)
  GRANTS.yaml
Labels: none

-_-
  GRANTS.yaml
Labels: none

Fix some typos and change image names to be more clear
  Gemfile.lock
  topics/imaging/images/biapy/comparison_2D_biapy2.png
  topics/imaging/images/biapy/comparison_2D_biapy3.png
  topics/imaging/images/biapy/comparison_2D_buffalo.png
  topics/imaging/images/biapy/comparison_2D_swam.png
  topics/imaging/tutorials/biapy/tutorial.md
  topics/imaging/tutorials/biapy/workflows/test-data/conf_cartocell_buffalo.yaml
  topics/imaging/tutorials/biapy/workflows/test-data/conf_cartocell_swam.yaml
Labels: imaging

Fix EXTRACT_DATASET problem
  topics/imaging/tutorials/biapy/tutorial.md
Labels: imaging

added new organisations from galaxy-hub.
  ORGANISATIONS.yaml
Labels: none

Fix some issues with visualization content
  topics/imaging/tutorials/biapy/tutorial.md
Labels: imaging

Update tutorial.md aexample apiKey
  topics/ecology/tutorials/MetaShARK_tutorial/tutorial.md
Labels: ecology

Removed ViCE from grants until we have more information.
  GRANTS.yaml
Labels: none

converted the id of organisations that I added to lowercase.
  ORGANISATIONS.yaml
Labels: none

Removed organisations that were not necessary as suggested by Bjoern in the other PR.
  ORGANISATIONS.yaml
Labels: none

Clean up GRANTS.yaml by removing ViCE comments
  GRANTS.yaml
Labels: none

Add hall of fame fields to schema grants
  bin/schema-grants.yaml
Labels: none

Apply suggestion from @kostrykin
  topics/imaging/tutorials/where-to-start-bioimaging-galaxy/tutorial.md
Labels: imaging

Update tutorial.md
  topics/imaging/tutorials/iscc-suite/tutorial.md
Labels: imaging

add external event for Love Data Week
  events/2026-02-09-love-data-week-ufr.md
Labels: none

Update ISCC tutorial with new example images and refine content for clarity
  topics/imaging/tutorials/iscc-suite/tutorial.md
  topics/imaging/tutorials/iscc-suite/workflows/example_image.tiff
  topics/imaging/tutorials/iscc-suite/workflows/example_image2.tiff
  topics/imaging/tutorials/iscc-suite/workflows/example_image3.tiff
  topics/imaging/tutorials/iscc-suite/workflows/example_tresholded1.tiff
Labels: imaging

Update ISCC tutorial with correct Zenodo link and refine workflow steps for clarity
  topics/imaging/tutorials/iscc-suite/tutorial.md
Labels: imaging

Update CONTRIBUTORS.yaml
  CONTRIBUTORS.yaml
Labels: none

Fix join date for Daniela Schneider
  CONTRIBUTORS.yaml
Labels: none

Update ISCC tutorial with enhanced workflow integration details and add example image analysis workflow
  topics/imaging/tutorials/iscc-suite/tutorial.md
  topics/imaging/tutorials/iscc-suite/workflows/Galaxy-Workflow-ISCC_-_image_analysis_workflow_example.ga
Labels: imaging

Update ISCC tutorial with corrected workflow history links and image references
  topics/imaging/images/iscc-suite/verify_wf2.png
  topics/imaging/tutorials/iscc-suite/tutorial.md
Labels: imaging

.github/labeler.yml:

faqs:
- changed-files:
  - any-glob-to-any-file:
    - faqs/**/*
news:
- changed-files:
  - any-glob-to-any-file:
    - news/**/*

# if any files touched outside of topics, faqs and news, label as template-and-tools
template-and-tools:
- changed-files:
  - all-globs-to-any-file:
    - '**'
    - '!topics/**/*'
    - '!faqs/**/*'
    - '!news/**/*'

# topic labels
admin:
- changed-files:
  - any-glob-to-any-file:
     - topics/admin/**/*
ai4life:
- changed-files:
  - any-glob-to-any-file:
    - topics/ai4life/**/*
assembly:
- changed-files:
  - any-glob-to-any-file:
    - topics/assembly/**/*
climate:
- changed-files:
  - any-glob-to-any-file:
    - topics/climate/**/*
computational-chemistry:
- changed-files:
  - any-glob-to-any-file:
    - topics/computational-chemistry/**/*
community:
- changed-files:
  - any-glob-to-any-file:
    - topics/community/**/*
contributing:
- changed-files:
  - any-glob-to-any-file:
    - topics/contributing/**/*
data-science:
- changed-files:
  - any-glob-to-any-file:
    - topics/data-science/**/*
dev:
- changed-files:
  - any-glob-to-any-file:
    - topics/dev/**/*
digital-humanities:
- changed-files:
  - any-glob-to-any-file:
    - topics/digital-humanities/**/*
ecology:
- changed-files:
  - any-glob-to-any-file:
    - topics/ecology/**/*
epigenetics:
- changed-files:
  - any-glob-to-any-file:
    - topics/epigenetics/**/*
evolution:
- changed-files:
  - any-glob-to-any-file:
    - topics/evolution/**/*
fair:
- changed-files:
  - any-glob-to-any-file:
    - topics/fair/**/*
galaxy-interface:
- changed-files:
  - any-glob-to-any-file:
    - topics/galaxy-interface/**/*
genome-annotation:
- changed-files:
  - any-glob-to-any-file:
    - topics/genome-annotation/**/*
imaging:
- changed-files:
  - any-glob-to-any-file:
    - topics/imaging/**/*
instructors:
- changed-files:
  - any-glob-to-any-file:
    - topics/instructors/**/*
introduction:
- changed-files:
  - any-glob-to-any-file:
    - topics/introduction/**/*
materials-science:
- changed-files:
  - any-glob-to-any-file:
    - topics/materials-science/**/*
metabolomics:
- changed-files:
  - any-glob-to-any-file:
    - topics/metabolomics/**/*
microbiome:
- changed-files:
  - any-glob-to-any-file:
    - topics/microbiome/**/*
proteomics:
- changed-files:
  - any-glob-to-any-file:
    - topics/proteomics/**/*
sequence-analysis:
- changed-files:
  - any-glob-to-any-file:
    - topics/sequence-analysis/**/*
single-cell:
- changed-files:
  - any-glob-to-any-file:
    - topics/single-cell/**/*
statistics:
- changed-files:
  - any-glob-to-any-file:
    - topics/statistics/**/*
synthetic-biolocy:
- changed-files:
  - any-glob-to-any-file:
    - topics/synthetic-biology/**/*
teaching:
- changed-files:
  - any-glob-to-any-file:
    - topics/teaching/**/*
transcriptomics:
- changed-files:
  - any-glob-to-any-file:
    - topics/transcriptomics/**/*
variant-analysis:
- changed-files:
  - any-glob-to-any-file:
    - topics/variant-analysis/**/*
visualisation:
- changed-files:
  - any-glob-to-any-file:
    - topics/visualisation/**/*
