Repository nickfnblum/training-material, changes with the labels that .github/labeler.yml gives for each.
All labels: faqs, news, admin, ai4life, assembly, climate, computational-chemistry, community, contributing, data-science, dev, digital-humanities, ecology, epigenetics, evolution, fair, galaxy-interface, genome-annotation, imaging, instructors, introduction, materials-science, metabolomics, microbiome, proteomics, sequence-analysis, single-cell, statistics, synthetic-biolocy, teaching, transcriptomics, variant-analysis, visualisation

Add files via upload
  topics/assembly/images/contigs.png
  topics/assembly/images/contigs_scaffolds.png
Labels: assembly

Revise DNA extraction tips and bioinformatics definitions
  topics/assembly/tutorials/assembly_and_qc_short/slides.html
Labels: assembly

Update topics/imaging/tutorials/where-to-start-bioimaging-galaxy/tutorial.md
  topics/imaging/tutorials/where-to-start-bioimaging-galaxy/tutorial.md
Labels: imaging

addressing integer and float comments from Leonid
  topics/imaging/tutorials/where-to-start-bioimaging-galaxy/tutorial.md
Labels: imaging

Improve intro explanation of matrix (2D array) and tensors
  topics/imaging/tutorials/where-to-start-bioimaging-galaxy/tutorial.md
Labels: imaging

further draft of the biapy training§
  topics/imaging/images/biapy/overlay-2D.png
  topics/imaging/tutorials/biapy/tutorial.md
Labels: imaging

Enhance ISCC tutorial by adding steps for parsing ISCC code and validating content integrity in workflows
  topics/imaging/tutorials/iscc-suite/tutorial.md
Labels: imaging

Enhance ISCC tutorial by adding answer histories, updating image links, and clarifying similarity detection steps
  topics/imaging/tutorials/iscc-suite/tutorial.md
Labels: imaging

Add data library and tutorial for ISCC content tracking and verification
  topics/imaging/tutorials/iscc-suite/data-library.yaml
  topics/imaging/tutorials/iscc-suite/tutorial.md
Labels: imaging

Update verify_wf1.png for ISCC tutorial workflow
  topics/imaging/images/iscc-suite/verify_wf1.png
Labels: imaging

Add example_image3.tiff for ISCC tutorial workflow
  topics/imaging/tutorials/iscc-suite/workflows/example_image3.tiff
Labels: imaging

Enhance ISCC tutorial with detailed examples and clarify usage of ISCC codes for file verification and similarity detection
  topics/imaging/tutorials/iscc-suite/tutorial.md
Labels: imaging

Refine image analysis workflow section and update similarity detection tool links for clarity
  topics/imaging/tutorials/iscc-suite/tutorial.md
Labels: imaging

resolve linting issues
  topics/imaging/tutorials/iscc-suite/tutorial.md
Labels: imaging

Update example_tresholded1.tiff for ISCC tutorial workflow
  topics/imaging/tutorials/iscc-suite/workflows/example_tresholded1.tiff
Labels: imaging

Add initial workflow list layout to ISCC suite index
  CONTRIBUTORS.yaml
  ORGANISATIONS.yaml
  topics/imaging/tutorials/iscc-suite/workflows/index.md
Labels: imaging

Update ISCC tutorial answer histories with integration details and history links
  topics/imaging/tutorials/iscc-suite/tutorial.md
Labels: imaging

Add verify_wf2.png for ISCC tutorial workflow
  topics/imaging/images/iscc-suite/verify_wf2.png
Labels: imaging

Add example images and update tutorial for ISCC workflow integration
  topics/imaging/images/iscc-suite/verify_wf1.png
  topics/imaging/tutorials/iscc-suite/tutorial.md
  topics/imaging/tutorials/iscc-suite/workflows/example_image.tiff
  topics/imaging/tutorials/iscc-suite/workflows/example_image2.tiff
  topics/imaging/tutorials/iscc-suite/workflows/example_tresholded1.tiff
Labels: imaging

Refactor ISCC tutorial: streamline content, enhance clarity, and update example images
  topics/imaging/tutorials/iscc-suite/data-library.yaml
  topics/imaging/tutorials/iscc-suite/tutorial.md
  topics/imaging/tutorials/iscc-suite/workflows/example_image.tiff
  topics/imaging/tutorials/iscc-suite/workflows/example_image2.tiff
Labels: imaging

Update ISCC tutorial images and enhance image analysis workflow description for clarity
  topics/imaging/tutorials/iscc-suite/tutorial.md
Labels: imaging

Add ISCC similarity answer history and enhance image analysis workflow details
  topics/imaging/tutorials/iscc-suite/tutorial.md
Labels: imaging

Update topics/imaging/tutorials/where-to-start-bioimaging-galaxy/tutorial.md
  topics/imaging/tutorials/where-to-start-bioimaging-galaxy/tutorial.md
Labels: imaging

Update topics/imaging/tutorials/where-to-start-bioimaging-galaxy/tutorial.md
  topics/imaging/tutorials/where-to-start-bioimaging-galaxy/tutorial.md
Labels: imaging

Update topics/imaging/tutorials/where-to-start-bioimaging-galaxy/tutorial.md
  topics/imaging/tutorials/where-to-start-bioimaging-galaxy/tutorial.md
Labels: imaging

Update topics/imaging/tutorials/where-to-start-bioimaging-galaxy/tutorial.md
  topics/imaging/tutorials/where-to-start-bioimaging-galaxy/tutorial.md
Labels: imaging

Update topics/imaging/tutorials/where-to-start-bioimaging-galaxy/tutorial.md
  topics/imaging/tutorials/where-to-start-bioimaging-galaxy/tutorial.md
Labels: imaging

Update topics/imaging/tutorials/where-to-start-bioimaging-galaxy/tutorial.md
  topics/imaging/tutorials/where-to-start-bioimaging-galaxy/tutorial.md
Labels: imaging

Update topics/imaging/tutorials/where-to-start-bioimaging-galaxy/tutorial.md
  topics/imaging/tutorials/where-to-start-bioimaging-galaxy/tutorial.md
Labels: imaging

Update topics/imaging/tutorials/where-to-start-bioimaging-galaxy/tutorial.md
  topics/imaging/tutorials/where-to-start-bioimaging-galaxy/tutorial.md
Labels: imaging

Update topics/imaging/tutorials/where-to-start-bioimaging-galaxy/tutorial.md
  topics/imaging/tutorials/where-to-start-bioimaging-galaxy/tutorial.md
Labels: imaging

Update topics/imaging/tutorials/where-to-start-bioimaging-galaxy/tutorial.md
  topics/imaging/tutorials/where-to-start-bioimaging-galaxy/tutorial.md
Labels: imaging

Update topics/imaging/tutorials/where-to-start-bioimaging-galaxy/tutorial.md
  topics/imaging/tutorials/where-to-start-bioimaging-galaxy/tutorial.md
Labels: imaging

Update topics/imaging/tutorials/where-to-start-bioimaging-galaxy/tutorial.md
  topics/imaging/tutorials/where-to-start-bioimaging-galaxy/tutorial.md
Labels: imaging

Soften the mentioning of deep learning as "superior" for segmentation
  topics/imaging/tutorials/where-to-start-bioimaging-galaxy/tutorial.md
Labels: imaging

further biapy traing improvements
  topics/imaging/images/biapy/carto_segm.mp4
  topics/imaging/images/biapy/comparison_2D_biapy2.png
  topics/imaging/images/biapy/comparison_2D_biapy3.png
  topics/imaging/images/biapy/overlay-2D.png
  topics/imaging/tutorials/biapy/tutorial.md
  topics/imaging/tutorials/biapy/workflows/test-data/01_raw_image.tiff
  topics/imaging/tutorials/biapy/workflows/test-data/01_raw_mask.tiff
  topics/imaging/tutorials/biapy/workflows/test-data/02_raw_image.tiff
  topics/imaging/tutorials/biapy/workflows/test-data/02_raw_mask.tiff
  topics/imaging/tutorials/biapy/workflows/test-data/conf_cartocell_model2.yaml
Labels: imaging

Added slides with references on engagement
  topics/assembly/tutorials/assembly_and_qc_short/slides.html
Labels: assembly

Add files via upload
  topics/assembly/images/data_lifecycle_4_conceptual_lenses_mccartney_2023.png
Labels: assembly

Apply suggestion from Romane
  topics/assembly/tutorials/assembly_and_qc_short/slides.html
Labels: assembly

Enhance tutorial with pre-visualization and update steps
  topics/community/tutorials/community-lab/tutorial.md
Labels: community

.github/labeler.yml:

faqs:
- changed-files:
  - any-glob-to-any-file:
    - faqs/**/*
news:
- changed-files:
  - any-glob-to-any-file:
    - news/**/*

# if any files touched outside of topics, faqs and news, label as template-and-tools
template-and-tools:
- changed-files:
  - all-globs-to-any-file:
    - '**'
    - '!topics/**/*'
    - '!faqs/**/*'
    - '!news/**/*'

# topic labels
admin:
- changed-files:
  - any-glob-to-any-file:
     - topics/admin/**/*
ai4life:
- changed-files:
  - any-glob-to-any-file:
    - topics/ai4life/**/*
assembly:
- changed-files:
  - any-glob-to-any-file:
    - topics/assembly/**/*
climate:
- changed-files:
  - any-glob-to-any-file:
    - topics/climate/**/*
computational-chemistry:
- changed-files:
  - any-glob-to-any-file:
    - topics/computational-chemistry/**/*
community:
- changed-files:
  - any-glob-to-any-file:
    - topics/community/**/*
contributing:
- changed-files:
  - any-glob-to-any-file:
    - topics/contributing/**/*
data-science:
- changed-files:
  - any-glob-to-any-file:
    - topics/data-science/**/*
dev:
- changed-files:
  - any-glob-to-any-file:
    - topics/dev/**/*
digital-humanities:
- changed-files:
  - any-glob-to-any-file:
    - topics/digital-humanities/**/*
ecology:
- changed-files:
  - any-glob-to-any-file:
    - topics/ecology/**/*
epigenetics:
- changed-files:
  - any-glob-to-any-file:
    - topics/epigenetics/**/*
evolution:
- changed-files:
  - any-glob-to-any-file:
    - topics/evolution/**/*
fair:
- changed-files:
  - any-glob-to-any-file:
    - topics/fair/**/*
galaxy-interface:
- changed-files:
  - any-glob-to-any-file:
    - topics/galaxy-interface/**/*
genome-annotation:
- changed-files:
  - any-glob-to-any-file:
    - topics/genome-annotation/**/*
imaging:
- changed-files:
  - any-glob-to-any-file:
    - topics/imaging/**/*
instructors:
- changed-files:
  - any-glob-to-any-file:
    - topics/instructors/**/*
introduction:
- changed-files:
  - any-glob-to-any-file:
    - topics/introduction/**/*
materials-science:
- changed-files:
  - any-glob-to-any-file:
    - topics/materials-science/**/*
metabolomics:
- changed-files:
  - any-glob-to-any-file:
    - topics/metabolomics/**/*
microbiome:
- changed-files:
  - any-glob-to-any-file:
    - topics/microbiome/**/*
proteomics:
- changed-files:
  - any-glob-to-any-file:
    - topics/proteomics/**/*
sequence-analysis:
- changed-files:
  - any-glob-to-any-file:
    - topics/sequence-analysis/**/*
single-cell:
- changed-files:
  - any-glob-to-any-file:
    - topics/single-cell/**/*
statistics:
- changed-files:
  - any-glob-to-any-file:
    - topics/statistics/**/*
synthetic-biolocy:
- changed-files:
  - any-glob-to-any-file:
    - topics/synthetic-biology/**/*
teaching:
- changed-files:
  - any-glob-to-any-file:
    - topics/teaching/**/*
transcriptomics:
- changed-files:
  - any-glob-to-any-file:
    - topics/transcriptomics/**/*
variant-analysis:
- changed-files:
  - any-glob-to-any-file:
    - topics/variant-analysis/**/*
visualisation:
- changed-files:
  - any-glob-to-any-file:
    - topics/visualisation/**/*
