Repository nickfnblum/training-material, changes with the labels that .github/labeler.yml gives for each.
All labels: faqs, news, admin, ai4life, assembly, climate, computational-chemistry, community, contributing, data-science, dev, digital-humanities, ecology, epigenetics, evolution, fair, galaxy-interface, genome-annotation, imaging, instructors, introduction, materials-science, metabolomics, microbiome, proteomics, sequence-analysis, single-cell, statistics, synthetic-biolocy, teaching, transcriptomics, variant-analysis, visualisation

Add Johannes Nussbaum to CONTRIBUTORS.yaml
  CONTRIBUTORS.yaml
Labels: none

Add Martin Etzrodt as contributor and ISCC Foundation as organization; update tutorial authorship
  CONTRIBUTORS.yaml
  ORGANISATIONS.yaml
  topics/imaging/tutorials/iscc-suite/tutorial.md
Labels: imaging

add affiliations to Diana's entry
  CONTRIBUTORS.yaml
Labels: none

Updated slides for better visualization
  topics/assembly/tutorials/assembly_and_qc_short/slides.html
Labels: assembly

Update single-cell editors and add publication
  topics/single-cell/metadata.yaml
Labels: single-cell

fix: revert the gemlock file before branching
  Gemfile.lock
Labels: none

fix contributors deleting mistake
  CONTRIBUTORS.yaml
Labels: none

add lines to biont bio
  GRANTS.yaml
Labels: none

add nfdi4boimage and de.NBI to the funding
  topics/imaging/tutorials/process-image-bioimageio/tutorial.md
Labels: imaging

Refine ISCC tutorial content for clarity and consistency; update section headings and improve descriptions
  topics/imaging/tutorials/iscc-suite/tutorial.md
Labels: imaging

Enhance ISCC tutorial by specifying microscopy data in content hash generation question and adding detailed steps for workflow input definition, parameter parsing, and verification integration
  topics/imaging/tutorials/iscc-suite/tutorial.md
Labels: imaging

Update topics/imaging/tutorials/where-to-start-bioimaging-galaxy/tutorial.md
  topics/imaging/tutorials/where-to-start-bioimaging-galaxy/tutorial.md
Labels: imaging

Update topics/imaging/tutorials/where-to-start-bioimaging-galaxy/tutorial.md
  topics/imaging/tutorials/where-to-start-bioimaging-galaxy/tutorial.md
Labels: imaging

Update topics/imaging/tutorials/where-to-start-bioimaging-galaxy/tutorial.md
  topics/imaging/tutorials/where-to-start-bioimaging-galaxy/tutorial.md
Labels: imaging

Update topics/imaging/tutorials/where-to-start-bioimaging-galaxy/tutorial.md
  topics/imaging/tutorials/where-to-start-bioimaging-galaxy/tutorial.md
Labels: imaging

Update topics/imaging/tutorials/where-to-start-bioimaging-galaxy/tutorial.md
  topics/imaging/tutorials/where-to-start-bioimaging-galaxy/tutorial.md
Labels: imaging

Update topics/imaging/tutorials/where-to-start-bioimaging-galaxy/tutorial.md
  topics/imaging/tutorials/where-to-start-bioimaging-galaxy/tutorial.md
Labels: imaging

Update topics/imaging/tutorials/where-to-start-bioimaging-galaxy/tutorial.md
  topics/imaging/tutorials/where-to-start-bioimaging-galaxy/tutorial.md
Labels: imaging

Update topics/imaging/tutorials/where-to-start-bioimaging-galaxy/tutorial.md
  topics/imaging/tutorials/where-to-start-bioimaging-galaxy/tutorial.md
Labels: imaging

Update topics/imaging/tutorials/where-to-start-bioimaging-galaxy/tutorial.md
  topics/imaging/tutorials/where-to-start-bioimaging-galaxy/tutorial.md
Labels: imaging

Refine question on identifying image type and metadata
  topics/imaging/tutorials/where-to-start-bioimaging-galaxy/tutorial.md
Labels: imaging

Update topics/imaging/tutorials/where-to-start-bioimaging-galaxy/tutorial.bib
  topics/imaging/tutorials/where-to-start-bioimaging-galaxy/tutorial.bib
Labels: imaging

Update topics/imaging/tutorials/where-to-start-bioimaging-galaxy/tutorial.md
  topics/imaging/tutorials/where-to-start-bioimaging-galaxy/tutorial.md
Labels: imaging

Update topics/imaging/tutorials/where-to-start-bioimaging-galaxy/tutorial.md
  topics/imaging/tutorials/where-to-start-bioimaging-galaxy/tutorial.md
Labels: imaging

Update topics/imaging/tutorials/where-to-start-bioimaging-galaxy/tutorial.md
  topics/imaging/tutorials/where-to-start-bioimaging-galaxy/tutorial.md
Labels: imaging

Update topics/imaging/tutorials/where-to-start-bioimaging-galaxy/tutorial.md
  topics/imaging/tutorials/where-to-start-bioimaging-galaxy/tutorial.md
Labels: imaging

Update topics/imaging/tutorials/where-to-start-bioimaging-galaxy/tutorial.md
  topics/imaging/tutorials/where-to-start-bioimaging-galaxy/tutorial.md
Labels: imaging

apply grammar correction to the tutorial.md
  topics/imaging/tutorials/biapy/tutorial.md
Labels: imaging

Revised section 1 - Addressed Leonids suggestions
  topics/imaging/tutorials/where-to-start-bioimaging-galaxy/tutorial.md
Labels: imaging

Addressed first few comments from Bea
  topics/imaging/tutorials/where-to-start-bioimaging-galaxy/tutorial.md
Labels: imaging

Add some clarifications
  topics/imaging/tutorials/biapy/tutorial.md
Labels: imaging

Update topics/imaging/tutorials/iscc-suite/tutorial.md
  topics/imaging/tutorials/iscc-suite/tutorial.md
Labels: imaging

Update topics/imaging/tutorials/iscc-suite/tutorial.md
  topics/imaging/tutorials/iscc-suite/tutorial.md
Labels: imaging

Update topics/imaging/tutorials/iscc-suite/tutorial.md
  topics/imaging/tutorials/iscc-suite/tutorial.md
Labels: imaging

Update topics/imaging/tutorials/iscc-suite/tutorial.md
  topics/imaging/tutorials/iscc-suite/tutorial.md
Labels: imaging

Fix tool links in ISCC tutorial for consistency and accessibility
  topics/imaging/tutorials/iscc-suite/tutorial.md
Labels: imaging

Update topics/imaging/tutorials/iscc-suite/tutorial.md
  topics/imaging/tutorials/iscc-suite/tutorial.md
Labels: imaging

Update topics/imaging/tutorials/iscc-suite/tutorial.md
  topics/imaging/tutorials/iscc-suite/tutorial.md
Labels: imaging

Update topics/imaging/tutorials/iscc-suite/tutorial.md
  topics/imaging/tutorials/iscc-suite/tutorial.md
Labels: imaging

Update topics/imaging/tutorials/iscc-suite/tutorial.md
  topics/imaging/tutorials/iscc-suite/tutorial.md
Labels: imaging

.github/labeler.yml:

faqs:
- changed-files:
  - any-glob-to-any-file:
    - faqs/**/*
news:
- changed-files:
  - any-glob-to-any-file:
    - news/**/*

# if any files touched outside of topics, faqs and news, label as template-and-tools
template-and-tools:
- changed-files:
  - all-globs-to-any-file:
    - '**'
    - '!topics/**/*'
    - '!faqs/**/*'
    - '!news/**/*'

# topic labels
admin:
- changed-files:
  - any-glob-to-any-file:
     - topics/admin/**/*
ai4life:
- changed-files:
  - any-glob-to-any-file:
    - topics/ai4life/**/*
assembly:
- changed-files:
  - any-glob-to-any-file:
    - topics/assembly/**/*
climate:
- changed-files:
  - any-glob-to-any-file:
    - topics/climate/**/*
computational-chemistry:
- changed-files:
  - any-glob-to-any-file:
    - topics/computational-chemistry/**/*
community:
- changed-files:
  - any-glob-to-any-file:
    - topics/community/**/*
contributing:
- changed-files:
  - any-glob-to-any-file:
    - topics/contributing/**/*
data-science:
- changed-files:
  - any-glob-to-any-file:
    - topics/data-science/**/*
dev:
- changed-files:
  - any-glob-to-any-file:
    - topics/dev/**/*
digital-humanities:
- changed-files:
  - any-glob-to-any-file:
    - topics/digital-humanities/**/*
ecology:
- changed-files:
  - any-glob-to-any-file:
    - topics/ecology/**/*
epigenetics:
- changed-files:
  - any-glob-to-any-file:
    - topics/epigenetics/**/*
evolution:
- changed-files:
  - any-glob-to-any-file:
    - topics/evolution/**/*
fair:
- changed-files:
  - any-glob-to-any-file:
    - topics/fair/**/*
galaxy-interface:
- changed-files:
  - any-glob-to-any-file:
    - topics/galaxy-interface/**/*
genome-annotation:
- changed-files:
  - any-glob-to-any-file:
    - topics/genome-annotation/**/*
imaging:
- changed-files:
  - any-glob-to-any-file:
    - topics/imaging/**/*
instructors:
- changed-files:
  - any-glob-to-any-file:
    - topics/instructors/**/*
introduction:
- changed-files:
  - any-glob-to-any-file:
    - topics/introduction/**/*
materials-science:
- changed-files:
  - any-glob-to-any-file:
    - topics/materials-science/**/*
metabolomics:
- changed-files:
  - any-glob-to-any-file:
    - topics/metabolomics/**/*
microbiome:
- changed-files:
  - any-glob-to-any-file:
    - topics/microbiome/**/*
proteomics:
- changed-files:
  - any-glob-to-any-file:
    - topics/proteomics/**/*
sequence-analysis:
- changed-files:
  - any-glob-to-any-file:
    - topics/sequence-analysis/**/*
single-cell:
- changed-files:
  - any-glob-to-any-file:
    - topics/single-cell/**/*
statistics:
- changed-files:
  - any-glob-to-any-file:
    - topics/statistics/**/*
synthetic-biolocy:
- changed-files:
  - any-glob-to-any-file:
    - topics/synthetic-biology/**/*
teaching:
- changed-files:
  - any-glob-to-any-file:
    - topics/teaching/**/*
transcriptomics:
- changed-files:
  - any-glob-to-any-file:
    - topics/transcriptomics/**/*
variant-analysis:
- changed-files:
  - any-glob-to-any-file:
    - topics/variant-analysis/**/*
visualisation:
- changed-files:
  - any-glob-to-any-file:
    - topics/visualisation/**/*
