Repository nickfnblum/training-material, changes with the labels that .github/labeler.yml gives for each.
All labels: faqs, news, admin, ai4life, assembly, climate, computational-chemistry, community, contributing, data-science, dev, digital-humanities, ecology, epigenetics, evolution, fair, galaxy-interface, genome-annotation, imaging, instructors, introduction, materials-science, metabolomics, microbiome, proteomics, sequence-analysis, single-cell, statistics, synthetic-biolocy, teaching, transcriptomics, variant-analysis, visualisation

Update topics/imaging/tutorials/where-to-start-bioimaging-galaxy/tutorial.md
  topics/imaging/tutorials/where-to-start-bioimaging-galaxy/tutorial.md
Labels: imaging

update md of where to start bioimaging
  topics/imaging/tutorials/where-to-start-bioimaging-galaxy/tutorial.md
Labels: imaging

Update tutorial with polished text, fixed images, and decision tree flowchart
  topics/imaging/images/where-to-start-bioimaging-galaxy/Microscopy_Imaging_Workflow-2026.mmd
  topics/imaging/images/where-to-start-bioimaging-galaxy/Microscopy_Imaging_Workflow-2026.png
  topics/imaging/tutorials/where-to-start-bioimaging-galaxy/tutorial.md
Labels: imaging

Update version for Render 3-D image data tool
  topics/imaging/tutorials/where-to-start-bioimaging-galaxy/tutorial.md
Labels: imaging

Update topics/imaging/tutorials/where-to-start-bioimaging-galaxy/tutorial.md
  topics/imaging/tutorials/where-to-start-bioimaging-galaxy/tutorial.md
Labels: imaging

tiny format fixes
  topics/imaging/tutorials/where-to-start-bioimaging-galaxy/tutorial.md
Labels: imaging

Update topics/imaging/tutorials/where-to-start-bioimaging-galaxy/tutorial.md
  topics/imaging/tutorials/where-to-start-bioimaging-galaxy/tutorial.md
Labels: imaging

Update topics/imaging/tutorials/where-to-start-bioimaging-galaxy/tutorial.md
  topics/imaging/tutorials/where-to-start-bioimaging-galaxy/tutorial.md
Labels: imaging

Update topics/imaging/tutorials/where-to-start-bioimaging-galaxy/tutorial.md
  topics/imaging/tutorials/where-to-start-bioimaging-galaxy/tutorial.md
Labels: imaging

Update topics/imaging/tutorials/where-to-start-bioimaging-galaxy/tutorial.md
  topics/imaging/tutorials/where-to-start-bioimaging-galaxy/tutorial.md
Labels: imaging

Fix URL to QIIME2 tutorial
  topics/microbiome/tutorials/qiime2-moving-pictures/tutorial.md
Labels: microbiome

BiaPy Training fixes
  CONTRIBUTORS.yaml
  topics/imaging/tutorials/biapy/data-library.yaml
  topics/imaging/tutorials/biapy/tutorial.bib
  topics/imaging/tutorials/biapy/tutorial.md
Labels: imaging

add ufz to affiliations
  CONTRIBUTORS.yaml
Labels: none

added UFZ in organizations
  shared/images/logos/UFZ-logo.png
Labels: none

add ufz as organization
  ORGANISATIONS.yaml
Labels: none

Revise bioimaging tutorial addressing arrmunoz comments, clarity and detail
  topics/imaging/tutorials/where-to-start-bioimaging-galaxy/tutorial.md
Labels: imaging

Add new article reference for bioimage analysis
  topics/imaging/tutorials/where-to-start-bioimaging-galaxy/tutorial.bib
Labels: imaging

Update topics/imaging/tutorials/where-to-start-bioimaging-galaxy/tutorial.md
  topics/imaging/tutorials/where-to-start-bioimaging-galaxy/tutorial.md
Labels: imaging

Update topics/imaging/tutorials/where-to-start-bioimaging-galaxy/tutorial.md
  topics/imaging/tutorials/where-to-start-bioimaging-galaxy/tutorial.md
Labels: imaging

Update topics/imaging/tutorials/where-to-start-bioimaging-galaxy/tutorial.md
  topics/imaging/tutorials/where-to-start-bioimaging-galaxy/tutorial.md
Labels: imaging

Update topics/imaging/tutorials/where-to-start-bioimaging-galaxy/tutorial.md
  topics/imaging/tutorials/where-to-start-bioimaging-galaxy/tutorial.md
Labels: imaging

Add word
  topics/imaging/tutorials/where-to-start-bioimaging-galaxy/tutorial.md
Labels: imaging

Fix glossary heading duplication in tutorial.md
  topics/imaging/tutorials/where-to-start-bioimaging-galaxy/tutorial.md
Labels: imaging

Add funding information to the tutorial
  topics/imaging/tutorials/where-to-start-bioimaging-galaxy/tutorial.md
Labels: imaging

Update tutorial.md
  topics/imaging/tutorials/where-to-start-bioimaging-galaxy/tutorial.md
Labels: imaging

update metagenomics
  events/2026-03-09-hts-workshop-freiburg.md
Labels: none

fix: fix cellpose citation
  topics/imaging/tutorials/where-to-start-bioimaging-galaxy/tutorial.bib
  topics/imaging/tutorials/where-to-start-bioimaging-galaxy/tutorial.md
Labels: imaging

fix: add an URL to Cellpose citation
  topics/imaging/tutorials/where-to-start-bioimaging-galaxy/tutorial.bib
Labels: imaging

small fixes for the citation
  topics/imaging/tutorials/where-to-start-bioimaging-galaxy/tutorial.md
Labels: imaging

fix elsif tag
  _includes/tutorial_list.html
Labels: none

Add CYOA feature to split tutorial by scientific field
  topics/imaging/tutorials/voronoi-segmentation/tutorial.md
Labels: imaging

Update seed image information in Voronoi tutorial
  topics/imaging/tutorials/voronoi-segmentation/tutorial.md
Labels: imaging

Restructure tutorial with CYOA feature and fix metadata
  topics/imaging/tutorials/voronoi-segmentation/tutorial.md
Labels: imaging

Fix loading TOC issue
  _layouts/tutorial_hands_on.html
Labels: none

start big update introduction to GESS
  topics/climate/tutorials/earth_system/tutorial.md
Labels: climate

include CYOT
  topics/climate/tutorials/earth_system/tutorial.md
Labels: climate

Update tutorial.md
  topics/climate/tutorials/earth_system/tutorial.md
Labels: climate

Update tutorial.md
  topics/climate/tutorials/earth_system/tutorial.md
Labels: climate

GTEx initial tutorail
  topics/statistics/tutorials/GTEx_Tissue_modeling/README.md
  topics/statistics/tutorials/GTEx_Tissue_modeling/data-library.yaml
  topics/statistics/tutorials/GTEx_Tissue_modeling/faqs/index.md
  topics/statistics/tutorials/GTEx_Tissue_modeling/slides.html
  topics/statistics/tutorials/GTEx_Tissue_modeling/tutorial.bib
  topics/statistics/tutorials/GTEx_Tissue_modeling/tutorial.md
  topics/statistics/tutorials/GTEx_Tissue_modeling/workflows/index.md
  topics/statistics/tutorials/GTEx_Tissue_modeling/workflows/main_workflow-tests.yml
  topics/statistics/tutorials/GTEx_Tissue_modeling/workflows/main_workflow.ga
Labels: statistics

contributors and tutorial mod
  CONTRIBUTORS.yaml
  topics/statistics/tutorials/GTEx_Tissue_modeling/README.md
  topics/statistics/tutorials/GTEx_Tissue_modeling/data-library.yaml
  topics/statistics/tutorials/GTEx_Tissue_modeling/faqs/index.md
  topics/statistics/tutorials/GTEx_Tissue_modeling/slides.html
  topics/statistics/tutorials/GTEx_Tissue_modeling/tutorial.bib
  topics/statistics/tutorials/GTEx_Tissue_modeling/tutorial.md
Labels: statistics

.github/labeler.yml:

faqs:
- changed-files:
  - any-glob-to-any-file:
    - faqs/**/*
news:
- changed-files:
  - any-glob-to-any-file:
    - news/**/*

# if any files touched outside of topics, faqs and news, label as template-and-tools
template-and-tools:
- changed-files:
  - all-globs-to-any-file:
    - '**'
    - '!topics/**/*'
    - '!faqs/**/*'
    - '!news/**/*'

# topic labels
admin:
- changed-files:
  - any-glob-to-any-file:
     - topics/admin/**/*
ai4life:
- changed-files:
  - any-glob-to-any-file:
    - topics/ai4life/**/*
assembly:
- changed-files:
  - any-glob-to-any-file:
    - topics/assembly/**/*
climate:
- changed-files:
  - any-glob-to-any-file:
    - topics/climate/**/*
computational-chemistry:
- changed-files:
  - any-glob-to-any-file:
    - topics/computational-chemistry/**/*
community:
- changed-files:
  - any-glob-to-any-file:
    - topics/community/**/*
contributing:
- changed-files:
  - any-glob-to-any-file:
    - topics/contributing/**/*
data-science:
- changed-files:
  - any-glob-to-any-file:
    - topics/data-science/**/*
dev:
- changed-files:
  - any-glob-to-any-file:
    - topics/dev/**/*
digital-humanities:
- changed-files:
  - any-glob-to-any-file:
    - topics/digital-humanities/**/*
ecology:
- changed-files:
  - any-glob-to-any-file:
    - topics/ecology/**/*
epigenetics:
- changed-files:
  - any-glob-to-any-file:
    - topics/epigenetics/**/*
evolution:
- changed-files:
  - any-glob-to-any-file:
    - topics/evolution/**/*
fair:
- changed-files:
  - any-glob-to-any-file:
    - topics/fair/**/*
galaxy-interface:
- changed-files:
  - any-glob-to-any-file:
    - topics/galaxy-interface/**/*
genome-annotation:
- changed-files:
  - any-glob-to-any-file:
    - topics/genome-annotation/**/*
imaging:
- changed-files:
  - any-glob-to-any-file:
    - topics/imaging/**/*
instructors:
- changed-files:
  - any-glob-to-any-file:
    - topics/instructors/**/*
introduction:
- changed-files:
  - any-glob-to-any-file:
    - topics/introduction/**/*
materials-science:
- changed-files:
  - any-glob-to-any-file:
    - topics/materials-science/**/*
metabolomics:
- changed-files:
  - any-glob-to-any-file:
    - topics/metabolomics/**/*
microbiome:
- changed-files:
  - any-glob-to-any-file:
    - topics/microbiome/**/*
proteomics:
- changed-files:
  - any-glob-to-any-file:
    - topics/proteomics/**/*
sequence-analysis:
- changed-files:
  - any-glob-to-any-file:
    - topics/sequence-analysis/**/*
single-cell:
- changed-files:
  - any-glob-to-any-file:
    - topics/single-cell/**/*
statistics:
- changed-files:
  - any-glob-to-any-file:
    - topics/statistics/**/*
synthetic-biolocy:
- changed-files:
  - any-glob-to-any-file:
    - topics/synthetic-biology/**/*
teaching:
- changed-files:
  - any-glob-to-any-file:
    - topics/teaching/**/*
transcriptomics:
- changed-files:
  - any-glob-to-any-file:
    - topics/transcriptomics/**/*
variant-analysis:
- changed-files:
  - any-glob-to-any-file:
    - topics/variant-analysis/**/*
visualisation:
- changed-files:
  - any-glob-to-any-file:
    - topics/visualisation/**/*
