Repository nickfnblum/training-material, changes with the labels that .github/labeler.yml gives for each.
All labels: faqs, news, admin, ai4life, assembly, climate, computational-chemistry, community, contributing, data-science, dev, digital-humanities, ecology, epigenetics, evolution, fair, galaxy-interface, genome-annotation, imaging, instructors, introduction, materials-science, metabolomics, microbiome, proteomics, sequence-analysis, single-cell, statistics, synthetic-biolocy, teaching, transcriptomics, variant-analysis, visualisation

.github/labeler.yml:

faqs:
- changed-files:
  - any-glob-to-any-file:
    - faqs/**/*
news:
- changed-files:
  - any-glob-to-any-file:
    - news/**/*

# if any files touched outside of topics, faqs and news, label as template-and-tools
template-and-tools:
- changed-files:
  - all-globs-to-any-file:
    - '**'
    - '!topics/**/*'
    - '!faqs/**/*'
    - '!news/**/*'

# topic labels
admin:
- changed-files:
  - any-glob-to-any-file:
     - topics/admin/**/*
ai4life:
- changed-files:
  - any-glob-to-any-file:
    - topics/ai4life/**/*
assembly:
- changed-files:
  - any-glob-to-any-file:
    - topics/assembly/**/*
climate:
- changed-files:
  - any-glob-to-any-file:
    - topics/climate/**/*
computational-chemistry:
- changed-files:
  - any-glob-to-any-file:
    - topics/computational-chemistry/**/*
community:
- changed-files:
  - any-glob-to-any-file:
    - topics/community/**/*
contributing:
- changed-files:
  - any-glob-to-any-file:
    - topics/contributing/**/*
data-science:
- changed-files:
  - any-glob-to-any-file:
    - topics/data-science/**/*
dev:
- changed-files:
  - any-glob-to-any-file:
    - topics/dev/**/*
digital-humanities:
- changed-files:
  - any-glob-to-any-file:
    - topics/digital-humanities/**/*
ecology:
- changed-files:
  - any-glob-to-any-file:
    - topics/ecology/**/*
epigenetics:
- changed-files:
  - any-glob-to-any-file:
    - topics/epigenetics/**/*
evolution:
- changed-files:
  - any-glob-to-any-file:
    - topics/evolution/**/*
fair:
- changed-files:
  - any-glob-to-any-file:
    - topics/fair/**/*
galaxy-interface:
- changed-files:
  - any-glob-to-any-file:
    - topics/galaxy-interface/**/*
genome-annotation:
- changed-files:
  - any-glob-to-any-file:
    - topics/genome-annotation/**/*
imaging:
- changed-files:
  - any-glob-to-any-file:
    - topics/imaging/**/*
instructors:
- changed-files:
  - any-glob-to-any-file:
    - topics/instructors/**/*
introduction:
- changed-files:
  - any-glob-to-any-file:
    - topics/introduction/**/*
materials-science:
- changed-files:
  - any-glob-to-any-file:
    - topics/materials-science/**/*
metabolomics:
- changed-files:
  - any-glob-to-any-file:
    - topics/metabolomics/**/*
microbiome:
- changed-files:
  - any-glob-to-any-file:
    - topics/microbiome/**/*
proteomics:
- changed-files:
  - any-glob-to-any-file:
    - topics/proteomics/**/*
sequence-analysis:
- changed-files:
  - any-glob-to-any-file:
    - topics/sequence-analysis/**/*
single-cell:
- changed-files:
  - any-glob-to-any-file:
    - topics/single-cell/**/*
statistics:
- changed-files:
  - any-glob-to-any-file:
    - topics/statistics/**/*
synthetic-biolocy:
- changed-files:
  - any-glob-to-any-file:
    - topics/synthetic-biology/**/*
teaching:
- changed-files:
  - any-glob-to-any-file:
    - topics/teaching/**/*
transcriptomics:
- changed-files:
  - any-glob-to-any-file:
    - topics/transcriptomics/**/*
variant-analysis:
- changed-files:
  - any-glob-to-any-file:
    - topics/variant-analysis/**/*
visualisation:
- changed-files:
  - any-glob-to-any-file:
    - topics/visualisation/**/*

breakup architecture slides.
  topics/dev/metadata.yaml
  topics/dev/tutorials/architecture-application-components/slides.html
  topics/dev/tutorials/architecture-client/faqs/index.md
  topics/dev/tutorials/architecture-client/slides.html
  topics/dev/tutorials/architecture-dependencies/slides.html
  topics/dev/tutorials/architecture-dependency-injection/slides.html
  topics/dev/tutorials/architecture-ecosystem/slides.html
  topics/dev/tutorials/architecture-files/slides.html
  topics/dev/tutorials/architecture-frameworks/slides.html
  topics/dev/tutorials/architecture-plugins/slides.html
  topics/dev/tutorials/architecture-principles/slides.html
  topics/dev/tutorials/architecture-production/slides.html
  topics/dev/tutorials/architecture-project-management/slides.html
  topics/dev/tutorials/architecture-startup/slides.html
  topics/dev/tutorials/architecture-tasks/slides.html
  topics/dev/tutorials/architecture/slides.html
Labels: dev

Add where-to-start tutorial content
  topics/imaging/tutorials/where-to-start-bioimaging-galaxy/data-library.yaml
  topics/imaging/tutorials/where-to-start-bioimaging-galaxy/faqs/index.md
  topics/imaging/tutorials/where-to-start-bioimaging-galaxy/tutorial.bib
  topics/imaging/tutorials/where-to-start-bioimaging-galaxy/tutorial.md
  topics/imaging/tutorials/where-to-start-bioimaging-galaxy/workflows/index.md
Labels: imaging

Update topics/imaging/tutorials/where-to-start-bioimaging-galaxy/tutorial.md
  topics/imaging/tutorials/where-to-start-bioimaging-galaxy/tutorial.md
Labels: imaging

Update topics/imaging/tutorials/where-to-start-bioimaging-galaxy/tutorial.md
  topics/imaging/tutorials/where-to-start-bioimaging-galaxy/tutorial.md
Labels: imaging

Update topics/imaging/tutorials/where-to-start-bioimaging-galaxy/tutorial.md
  topics/imaging/tutorials/where-to-start-bioimaging-galaxy/tutorial.md
Labels: imaging

Update topics/imaging/tutorials/where-to-start-bioimaging-galaxy/tutorial.md
  topics/imaging/tutorials/where-to-start-bioimaging-galaxy/tutorial.md
Labels: imaging

Update topics/imaging/tutorials/where-to-start-bioimaging-galaxy/tutorial.md
  topics/imaging/tutorials/where-to-start-bioimaging-galaxy/tutorial.md
Labels: imaging

Update topics/imaging/tutorials/where-to-start-bioimaging-galaxy/tutorial.md
  topics/imaging/tutorials/where-to-start-bioimaging-galaxy/tutorial.md
Labels: imaging

Update topics/imaging/tutorials/where-to-start-bioimaging-galaxy/tutorial.md
  topics/imaging/tutorials/where-to-start-bioimaging-galaxy/tutorial.md
Labels: imaging

Fixed all tool IDs
  topics/imaging/tutorials/where-to-start-bioimaging-galaxy/tutorial.md
Labels: imaging

Update topics/imaging/tutorials/where-to-start-bioimaging-galaxy/tutorial.md
  topics/imaging/tutorials/where-to-start-bioimaging-galaxy/tutorial.md
Labels: imaging

Addressing a few comments from review dog
  topics/imaging/tutorials/where-to-start-bioimaging-galaxy/tutorial.md
Labels: imaging

Added missing URL/doi from a few citations and added Pete B citation
  topics/imaging/tutorials/where-to-start-bioimaging-galaxy/tutorial.bib
Labels: imaging

Update tutorial formatting and section heading fixing
  topics/imaging/tutorials/where-to-start-bioimaging-galaxy/tutorial.md
Labels: imaging

Update tutorial for bioimaging handbox fix
  topics/imaging/tutorials/where-to-start-bioimaging-galaxy/tutorial.md
Labels: imaging

Update tutorial metadata by removing funding details
  topics/imaging/tutorials/where-to-start-bioimaging-galaxy/tutorial.md
Labels: imaging

Drop references to mono-arch tutorial.
  topics/dev/faqs/contributing.md
  topics/dev/tutorials/core-contributing/tutorial.md
  topics/dev/tutorials/debugging/tutorial.md
  topics/dev/tutorials/writing_tests/tutorial.md
Labels: dev

Fix build
  topics/imaging/tutorials/where-to-start-bioimaging-galaxy/tutorial.md
Labels: imaging

Fix formatting
  topics/imaging/tutorials/where-to-start-bioimaging-galaxy/tutorial.md
Labels: imaging

Fix formatting
  topics/imaging/tutorials/where-to-start-bioimaging-galaxy/tutorial.md
Labels: imaging

update link to architecture slides
  topics/dev/tutorials/writing_tests/tutorial.md
Labels: dev

add redirects
  bin/check-url-persistence.sh
  redirects/architecture-slides.md
  topics/dev/tutorials/architecture-ecosystem/slides.html
Labels: dev

fix url exception
  bin/check-url-persistence.sh
Labels: none

start: first draft of the biapy tutorial
  topics/imaging/tutorials/biapy/data-library.yaml
  topics/imaging/tutorials/biapy/faqs/index.md
  topics/imaging/tutorials/biapy/tutorial.bib
  topics/imaging/tutorials/biapy/tutorial.md
  topics/imaging/tutorials/biapy/workflows/index.md
  topics/imaging/tutorials/biapy/workflows/test-data/conf_cartocell_model1.yaml
Labels: imaging

Update topics/imaging/tutorials/where-to-start-bioimaging-galaxy/tutorial.md
  topics/imaging/tutorials/where-to-start-bioimaging-galaxy/tutorial.md
Labels: imaging

Update topics/imaging/tutorials/where-to-start-bioimaging-galaxy/tutorial.md
  topics/imaging/tutorials/where-to-start-bioimaging-galaxy/tutorial.md
Labels: imaging

Update topics/imaging/tutorials/where-to-start-bioimaging-galaxy/tutorial.md
  topics/imaging/tutorials/where-to-start-bioimaging-galaxy/tutorial.md
Labels: imaging

Update topics/imaging/tutorials/where-to-start-bioimaging-galaxy/tutorial.md
  topics/imaging/tutorials/where-to-start-bioimaging-galaxy/tutorial.md
Labels: imaging

Update topics/imaging/tutorials/where-to-start-bioimaging-galaxy/tutorial.md
  topics/imaging/tutorials/where-to-start-bioimaging-galaxy/tutorial.md
Labels: imaging

Update topics/imaging/tutorials/where-to-start-bioimaging-galaxy/tutorial.md
  topics/imaging/tutorials/where-to-start-bioimaging-galaxy/tutorial.md
Labels: imaging

Update topics/imaging/tutorials/where-to-start-bioimaging-galaxy/tutorial.md
  topics/imaging/tutorials/where-to-start-bioimaging-galaxy/tutorial.md
Labels: imaging

Update topics/imaging/tutorials/where-to-start-bioimaging-galaxy/tutorial.md
  topics/imaging/tutorials/where-to-start-bioimaging-galaxy/tutorial.md
Labels: imaging

Update topics/imaging/tutorials/where-to-start-bioimaging-galaxy/tutorial.md
  topics/imaging/tutorials/where-to-start-bioimaging-galaxy/tutorial.md
Labels: imaging

Update topics/imaging/tutorials/where-to-start-bioimaging-galaxy/tutorial.md
  topics/imaging/tutorials/where-to-start-bioimaging-galaxy/tutorial.md
Labels: imaging

Update topics/imaging/tutorials/where-to-start-bioimaging-galaxy/tutorial.md
  topics/imaging/tutorials/where-to-start-bioimaging-galaxy/tutorial.md
Labels: imaging

Update topics/imaging/tutorials/where-to-start-bioimaging-galaxy/tutorial.md
  topics/imaging/tutorials/where-to-start-bioimaging-galaxy/tutorial.md
Labels: imaging

Update topics/imaging/tutorials/where-to-start-bioimaging-galaxy/tutorial.md
  topics/imaging/tutorials/where-to-start-bioimaging-galaxy/tutorial.md
Labels: imaging

Update topics/imaging/tutorials/where-to-start-bioimaging-galaxy/tutorial.md
  topics/imaging/tutorials/where-to-start-bioimaging-galaxy/tutorial.md
Labels: imaging

Update topics/imaging/tutorials/where-to-start-bioimaging-galaxy/tutorial.md
  topics/imaging/tutorials/where-to-start-bioimaging-galaxy/tutorial.md
Labels: imaging

Update topics/imaging/tutorials/where-to-start-bioimaging-galaxy/tutorial.md
  topics/imaging/tutorials/where-to-start-bioimaging-galaxy/tutorial.md
Labels: imaging
